<% if session[:organization_id] || session[:artist_id] %>
    <h1>Artists In Your Area</h1>
  <% else %>
    <h1>Artists on Scene</h1>
  <% end %>

<table class="table-striped table-condensed">
  <tr>
    <td></td>
    <td>Name</td>
    <td>Profile</td>
    <td>Art</td>
  </tr>

  <% @artists.each do |artist| %>

  <tr>
    <td> <%= link_to image_tag(artist.avatar), artist_path(artist) %> </td>
    <td> <%= artist.name %> </td>
    <td> <%= link_to("Profile", artist_path(artist)) %> </td>
    <td> <% if !artist.pieces.empty? %>
          <% sample_piece = artist.pieces.sample %>
          <%= link_to image_tag(sample_piece.img), artist_piece_path(sample_piece.artist_id, sample_piece) %></td>
        <% end %>
  </tr>
  <% end %>
</table>
