<h1 class="center-text">Artists Using Scene</h1>
<% if current_user %>
<button class="btn btn-lg btn-default btn-block">
  <%=link_to 'Local Artists', local_artists_path %>
</button>
<% else %>
<button class="btn btn-lg btn-default btn-block">
  <%=link_to 'Sign Up To View Artists In Your Area'%>
</button>
<% end %>
<%= render 'artists' %>
