<h1 class="c-t">Artists Using Scene</h1>
<% if current_user %>
<%=link_to 'Local Artists', local_artists_path, class:'btn btn-primary btn-block' %>
<% else %>
<%=link_to 'Log In To View Artists In Your Area', '', class:'btn btn-warning btn-block' %>
<% end %>
<%= render 'artists' %>
