<script src="http://maps.googleapis.com/maps/api/js"></script>

<script>
$(document).ready(function(){
    initializeMap();
});

function initializeMap() {
  var mapOptions = {
    zoom: 13 ,
    mapTypeId:google.maps.MapTypeId.ROADMAP
  };
  var map = new google.maps.Map(document.getElementById("googleMap"),mapOptions);
   navigator.geolocation.getCurrentPosition(function(position) {
   var geolocate = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
   var infowindow = new google.maps.InfoWindow({
                map: map,
                position: geolocate,
                content:
                    '<h6>Location pinned from HTML5 Geolocation!</h6>' +
                    '<h6>Latitude: ' + position.coords.latitude + '</h6>' +
                    '<h6>Longitude: ' + position.coords.longitude + '</h6>'
            });
    var data = [position.coords.latitude, position.coords.longitude];
            console.log(data);

         map.setCenter(geolocate);

         <% @artists.each do |artist|%>
         var markerLatLong = new google.maps.LatLng(<%= artist.latitude%>, <%= artist.longitude %>);
         var marker = new google.maps.Marker({
          position: markerLatLong,
         })
         marker.setMap(map);
         <% end %>

});

}
</script>
<h1 class='c-t'>Local Artists</h1>
<div class='m0-a' id="googleMap" style="width:100%;height:500px;"></div>
<%= render 'artists' %>
