<script type="text/javascript">
  $(document).ready(function(){
      zoomHoverMed();
  })
</script>

<h1 class="debugx ta-cen mb-2 mt-2">Scenes</h1>
<div class="line span-12-d mb-4"></div>



<!-- out div -->


<div class="debugx col span-10-d ml-15">
  <% @spaces.each do |space| %>
    <div class="debugx viewport-m">
      <a class="" href="<%= space.image.url %>" data-lightbox="ex-1">
        <span class="dark-background-m">
          <%= space.title %>
          <em>by Artist name</em>
        </span>
        <img src="<%= space.image.url(:medium) %>" alt="Scene Pic" class="" />
      </a>
      <br>
    </div>
  <% end %>
</div>









<!-- buffer for footer -->
<div class="col mb-8"></div>
