<div class="r-this span-12-d ml-12" >
  <div class="debugx pic">
    <div class="debugx">
      <h2><%= space.title %></h2>
      <a href="<%= space.image.url %>" data-lightbox="ex-1">
        <img src="<%= space.image.url(:medium) %>" alt="Space Piece.img">
      </a>
    </div>
  </div>
</div>


<div class='r-this'>
  <div class="line span-10-d ml-"></div>
  <br>
  <div class="line span-10-d mb-2 ml-"></div>
</div>
