<h1>Scenes#show</h1>
<html>
<head>
  <title></title>
 <h1> <%= @scene.title%> <h1>

</head>
<body>
  <div class="scene-body">
    <image src="<% @scene.img %>">
    <%= @scene.guidelines%>
  </div>
</body>
</html>