<h1 class="debug row">Pieces</h1>

<div class="debug col span-1-d ">
  <h3>Category</h3>
    <% @tags.each do |tag| %>
       <p><%= link_to tag, tag_path(tag) %></p>
    <% end %>
</div>


<div class="debug col span-11-d">
  <div class="ml-4">

<div id="target"></div>

  <div class="allpics">
  <% @pieces.each do |piece| %>

      <div class="debug fl-end m-1 viewport">
        <a class="pic" href="<%= artist_piece_path(piece.artist_id, piece) %>" >
          <span class="dark-background"> <%= piece.title %> <em>Photo by Andrew Pham</em></span>
          <img src="<%= piece.img %>" alt="Piece Pic" />
        </a>
      </div>

  <% end %>
  </div>


  </div>
</div>




