<h1>Pieces#new</h1>
<p>Find me in app/views/pieces/new.html.erb</p>

<p>form for creating a new piece</p>

<%= render partial: "_new_form_piece_space", locals: { user: @organization, picture: @organization.spaces.build } %>

