<h1>Pieces#show</h1>
<p>Find me in app/views/pieces/show.html.erb</p>


<img src="<%= @piece.img %>" alt="Artist's Piece.img">
<p><%= @piece.title %></p>
<p><%= @piece.description %></p>

<p>Piece by:</p>
<p><%= @artist.name %></p>
