<!-- Header -->
<div class="bg divotron">
</div>
<!-- Marketing Icons Section -->
  <div class="row">
    <div style='height:370px;'  class="col-lg-12">

      <div class="scene-welcome">
        Scene
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>
            <i class="fa fa-fw fa-check"></i>
            Bootstrap v3.2.0</h4>
        </div>
        <div class="panel-body">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</p>
          <a class="btn btn-default" href="#">Learn More</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>
            <i class="fa fa-fw fa-gift"></i>
            Free &amp; Open Source</h4>
        </div>
        <div class="panel-body">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</p>
          <a class="btn btn-default" href="#">Learn More</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>
            <i class="fa fa-fw fa-compass"></i>
            Easy to Use</h4>
        </div>
        <div class="panel-body">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</p>
          <a class="btn btn-default" href="#">Learn More</a>
        </div>
      </div>
    </div>
  </div>

<!-- Call to Action Section -->
  <div class="well">
    <div class="row">
      <div class="col-md-8">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum deleniti beatae veniam harum neque nemo praesentium cum alias asperiores commodi.</p>
      </div>
      <div class="col-md-4">
        <button class="btn btn-lg btn-default btn-block"> <%=link_to 'Local Artists', user_location_path %> </button>

      </div>
    </div>
  </div>

<!-- Page Content -->
  <div class="container">

<!-- Page Header -->
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">Find Local Artists
          <small>Or Find Local Scenes</small>
        </h1>
      </div>
    </div>
    <!-- /.row -->

    <!-- Projects Row -->

    <div class="row">
      <div class="col-md-4 portfolio-item">
        <a href="#">
          <img alt="" class="img-responsive" src="http://placehold.it/700x400">
        </a>
        <h3>
          <a href="#">Project Name</a>
        </h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
      </div>
      <div class="col-md-4 portfolio-item">
        <a href="#">
          <img alt="" class="img-responsive" src="http://placehold.it/700x400">
        </a>
        <h3>
          <a href="#">Project Name</a>
        </h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
      </div>
      <div class="col-md-4 portfolio-item">
        <a href="#">
          <img alt="" class="img-responsive" src="http://placehold.it/700x400">
        </a>
        <h3>
          <a href="#">Project Name</a>
        </h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
      </div>
    </div>
<!-- /.row -->

<!-- Projects Row -->
    <div class="row">
      <div class="col-md-4 portfolio-item">
        <a href="#">
          <img alt="" class="img-responsive" src="http://placehold.it/700x400">
        </a>
        <h3>
          <a href="#">Project Name</a>
        </h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
      </div>
      <div class="col-md-4 portfolio-item">
        <a href="#">
          <img alt="" class="img-responsive" src="http://placehold.it/700x400">
        </a>
        <h3>
          <a href="#">Project Name</a>
        </h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
      </div>
      <div class="col-md-4 portfolio-item">
        <a href="#">
          <img alt="" class="img-responsive" src="http://placehold.it/700x400">
        </a>
        <h3>
          <a href="#">Project Name</a>
        </h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
      </div>
    </div>

<!-- Projects Row -->
    <div class="row">
      <div class="col-md-4 portfolio-item">
        <a href="#">
          <img alt="" class="img-responsive" src="http://placehold.it/700x400">
        </a>
        <h3>
          <a href="#">Project Name</a>
        </h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
      </div>
      <div class="col-md-4 portfolio-item">
        <a href="#">
          <img alt="" class="img-responsive" src="http://placehold.it/700x400">
        </a>
        <h3>
          <a href="#">Project Name</a>
        </h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
      </div>
      <div class="col-md-4 portfolio-item">
        <a href="#">
          <img alt="" class="img-responsive" src="http://placehold.it/700x400">
        </a>
        <h3>
          <a href="#">Project Name</a>
        </h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
      </div>
    </div>
<!-- /.row -->

    <hr>

<!-- Pagination -->
    <div class="row text-center">
      <div class="col-lg-12">
        <ul class="pagination">
          <li>
            <a href="#">&laquo;</a>
          </li>
          <li class="active">
            <a href="#">1</a>
          </li>
          <li>
            <a href="#">2</a>
          </li>
          <li>
            <a href="#">3</a>
          </li>
          <li>
            <a href="#">4</a>
          </li>
          <li>
            <a href="#">5</a>
          </li>
          <li>
            <a href="#">&raquo;</a>
          </li>
        </ul>
      </div>
    </div>
<!-- /.row -->

    <hr>
