<!-- Video Parallax -->
<div id="wistia_wdf369ilyi" class="wistia_embed bg divotron" style="width:1500;height:940px;" data-video-width="1500" data-video-height="450">&nbsp;
</div>
<script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/E-v1.js"></script>
<script>
wistiaEmbed = Wistia.embed("wdf369ilyi", {
  canonicalTitle: "SCENE",
  version: "v1",
  autoPlay: true,
  endVideoBehavior: "loop",
  volumeControl: false,
  chromeless: true,
  playbar: false,
  controlsVisibleOnLoad: false,
  volume: 0
});
</script>

<!-- Marketing Icons Section -->
  <div class="row">
    <div style='height:370px;'  class="col-lg-12">
      <a class="btn-home btn-black" href="/shop/womens/">FIND LOCAL ARTISTS</a>
    </div>
    </div>



