// Place all the styles related to the Pieces controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.bg-red { background-color: red }

.ft-sm { font-size: 80%; }

.red { color: #E43838;}
.gray { color: #8A9298;}

.fl-st { float: left; }
.fl-end { float: right; }

.d-inb { display: inline-block; }
.d-in { display: inline; }

.ml-reset { margin-left: -39%; }
.ml-2 { margin-left: 2em; }
.ml-4 { margin-left: 4em; }
.ml-10 { margin-left: 10em; }
.ml-half { margin-left: 39%; }
.ml-23 { margin-left: 23em;}

.mb-4 { margin-bottom: 4em;}
.mb-8 { margin-bottom: 8em;}
.mt-2 { margin-top: 2em; }
.mr-2 {margin-right: 2em;}

.m-1 {margin: 1em;}
.m-2 {margin: 2em;}
.m-3 {margin: 3em;}
.m-4 {margin: 4em;}

.m0-a {margin: 0 auto;}

xpic-size {
  height: 15em;
  width: 15em;
}

.line {border: 1px solid black; }




/*make the category bar fixed*/
.grid-item--gigante {
  width: 200%;
  height: 200%;
  background: #F90;
}

.grid-item:hover {
  background: #A2C;
  border-color: white;
  cursor: pointer;
}
