// Place all the styles related to the Pieces controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.bg-red { background-color: red }

.ft-sm { font-size: 80%; }

.red { color: #E43838;}
.gray { color: #8A9298;}

.fl-st { float: left; }
.fl-end { float: right; }

.d-inb { display: inline-block; }
.d-in { display: inline; }

.ml-reset { margin-left: -39%; }
.ml--2 { margin-left: -2em; }
.ml--4 { margin-left: -4em; }
.ml-2 { margin-left: 2em; }
.ml-4 { margin-left: 4em; }
.ml-10 { margin-left: 10em; }
.ml-12 { margin-left: 12em; }
.ml-15 { margin-left: 15.5em; }
.ml-20 { margin-left: 20em;}
.ml-23 { margin-left: 23em;}
.ml-25 { margin-left: 25em; }

.mr-2 {margin-right: 2em;}
.mr-4 {margin-right: 4em;}

.mb-2 { margin-bottom: 2em;}
.mb-2 { margin-bottom: 2em;}
.mb-4 { margin-bottom: 4em;}
.mb-8 { margin-bottom: 8em;}
.mb-15 { margin-bottom: 15em;}
.mt-1 { margin-top: 1em; }
.mt-2 { margin-top: 2em; }
.mt--2 {margin-top: -2em;}
.mt--4 {margin-top: -4em;}

.m-1 {margin: 1em;}
.m-2 {margin: 2em;}
.m-3 {margin: 3em;}
.m-4 {margin: 4em;}

.m0-a {margin: 0 auto;}

.p-8 { padding: 8em; }


.pic {
  margin: 0 auto;
}


.fix {position: fixed;}
.line {border: 1px solid black; }
.ta-cen { text-align: center; }



.grid-item:hover {
  background: #A2C;
  border-color: white;
  cursor: pointer;
}

